@model ARBISTO_POS.ViewModels.ResetPasswordViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Reset Password";
}

<main class="auth-creative-wrapper">
    <div class="auth-creative-inner">
        <div class="creative-card-wrapper">
            <div class="card my-4 overflow-hidden" style="z-index: 1">
                <div class="creative-card-body card-body p-sm-5">
                    <h2 class="fs-20 fw-bolder mb-4">Reset Password</h2>
                    <p class="fs-12 fw-medium text-muted">
                        Enter Your New Passward.
                    </p>

                    <form asp-action="ResetPassword" method="post" class="w-100 mt-4">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />

                        <div class="mb-4">
                            <input asp-for="Password"
                                   type="password"
                                   class="form-control"
                                   placeholder="New Password"
                                   required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <input asp-for="ConfirmPassword"
                                   type="password"
                                   class="form-control"
                                   placeholder="Confirm Password"
                                   required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary w-100">
                            Reset Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
